<div class="error-page">
    <div class="error-code">403</div>

    <div class="error-message" *ngIf="userRole === 'empty'">
        <h1><i class="fa fa-ban"></i> Access Denied</h1>
        <p>
            You do not have permission to access this page.<br>
            Meanwhile, you may <a href="/frontvisiteur">return to home page</a>.
        </p>
    </div>

    <div class="error-message" *ngIf="userRole === 'admin'">
        <h1><i class="fa fa-ban"></i> Access Denied</h1>
        <p>
            You do not have permission to access this page.<br>
            Meanwhile, you may <a href="/back">return to dashboard</a>.
        </p>
    </div>

    <div class="error-message" *ngIf="userRole === 'rh'">
        <h1><i class="fa fa-ban"></i> Access Denied</h1>
        <p>
            You do not have permission to access this page.<br>
            Meanwhile, you may <a href="/back-hr">return to dashboard</a>.
        </p>
    </div>

    <div class="error-message" *ngIf="userRole === 'candidate'">
        <h1><i class="fa fa-ban"></i> Access Denied</h1>
        <p>
            You do not have permission to access this page.<br>
            Meanwhile, you may <a href="/front">return to home page</a>.
        </p>
    </div>
</div>