<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-body">

                <div class="article-details card shadow-sm border-0 p-4" *ngIf="article">
                    <div class="card-body text-center">
                        <!-- Title -->
                        <h5 class="card-title mb-3 text-primary">{{ article.title | uppercase }}</h5>
                        <br>
                        <!-- Image -->
                        <div class="mb-4">
                            <img *ngIf="article.image" [src]="'http://203.0.113.53:3000/' + article.image" alt="Article Image" class="img-fluid rounded-image hover-image" style="max-height: 450px;" />
                        </div>
                        <br><br>

                        <!-- Info: likes, author, created_at -->
                        <div class="d-flex justify-content-center align-items-center gap-4 mb-3 flex-wrap">
                            <div class="col-md-11">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <small><strong>Author : </strong></small>
                                        <span class="label label-warning text-dark">
                                            <small>{{ article.author.name }}</small>
                                        </span>
                                    </div>
                                    <div class="col-xs-4">
                                        <small><strong>Created At : </strong></small>
                                        <span class="label label-default">
                                            <small>{{ article.created_at | date: 'yyyy-MM-dd HH:mm':'UTC' }}</small>
                                        </span>
                                    </div>
                                    <div *ngIf="hasLiked !== null && hasDisliked !== null" class="col-xs-4">
                                        <!-- Reactions and Like / Dislike Buttons -->
                                        
                                        <div class="reaction-buttons">
                                            <small><strong>Reactions : </strong></small>
                                            <button class="btn" [ngClass]="hasLiked ? 'btn-success' : 'btn-outline-success'" (click)="likeArticle()" title="Like Article">
                                                <small>{{ likeCount }} &nbsp;<i class="fa fa-thumbs-up"></i></small>
                                            </button>
                                            <button class="btn" [ngClass]="hasDisliked ? 'btn-danger' : 'btn-outline-danger'" (click)="dislikeArticle()" title="Dislike Article">
                                                <small>{{ dislikeCount }} &nbsp;<i class="fa fa-thumbs-down"></i></small>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <br>
                        <!-- Content -->
                        <div class="col-md-16">
                            <br>
                            <p class="text-left text-muted mt-2 formatted-text" [innerHTML]="article.content"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>