<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div style="background-color:#fff;">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Title</th>
                            <td>{{ article.title }}</td>
                        </tr>
                        <tr>
                            <th>Author</th>
                            <td>
                                <span class="label label-default">{{ article.author.name }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>NB Likes</th>
                            <td>
                                <span class="label label-danger">{{ article.nb_likes }} &nbsp;<i class="fa fa-heart"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <th>Content</th>
                            <td>{{ article.content }}</td>
                        </tr>
                        <tr>
                            <th>Image</th>
                            <td>
                                <img style="height:200px;" src="{{ article.image }}">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div style="background-color:#fff;" align="center">
                    <br>
                    <button style="width:100px;" class="btn btn-block btn-info btn-sm">
                        <a style="color:#fff;" [routerLink]="['/back/articles']" title="Back To Articles List">Back To List</a>
                    </button>
                    <br>
                </div>
            </div>    
        </div>
    </div>
</div>
        