<!-- FrontOffice Dependencies -->
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="../../../../../public/FrontOffice/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="../../../../../public/FrontOffice/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


<div class="row justify-content-center bg-image mx-0 mb-5">
    <div class="col-lg-8 py-5">
        <div class="bg-white p-5 my-5">
            <h1 class="text-center mb-4"><b>UPDATE YOUR PROFILE :</b></h1>
            <br>
            <!-- Show alert when form is submitted successfully -->
            <div class="box-body" *ngIf="showAlert && typeAlert=='success'">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-check"></i> Your Profile is Updated Successfully!</h4>
                    {{ error }}
                </div>
            </div>
            <!-- Show alert when there is an error -->
            <div class="box-body" *ngIf="showAlert && typeAlert=='danger'">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Your Profile's Update is Failed!</h4>
                    {{ error }}
                </div>
            </div>
            <br>
            <form (ngSubmit)="onSubmit()" #updateForm="ngForm">
                <div class="form-group has-feedback" [ngClass]="{
                    'has-warning': NameCtrl.touched && !NameCtrl.value,
                    'has-success': NameCtrl.touched && NameCtrl.valid
                }">
                    <label for="name">Name :</label>
                    <input style="padding: 30px 20px;" type="text" class="form-control bg-light border-0" id="name" name="name" [(ngModel)]="user.name" #NameCtrl="ngModel" required placeholder="Name">
                    <label *ngIf="NameCtrl.touched && !NameCtrl.value" class="control-label" for="title">
                        <i class="fa fa-bell-o"></i> Name is required
                    </label>
                </div>

                <div class="form-group has-feedback" [ngClass]="{
                    'has-warning': EmailCtrl.touched && !EmailCtrl.value,
                    'has-success': EmailCtrl.touched && EmailCtrl.valid
                }">
                    <label for="email">Email :</label>
                    <input style="padding: 30px 20px;" type="email" class="form-control bg-light border-0" id="email" name="email" [(ngModel)]="user.email" #EmailCtrl="ngModel" required placeholder="Email"/>
                    <label *ngIf="EmailCtrl.touched && !EmailCtrl.value" class="control-label" for="title">
                        <i class="fa fa-bell-o"></i> Email is required
                    </label>
                </div>

                <div class="form-group has-feedback">
                    <label for="password">Password :</label>
                    <input style="padding: 30px 20px;" type="password" class="form-control bg-light border-0" id="password" name="password" [(ngModel)]="user.password" placeholder="Enter password" />
                </div>

                <div class="form-group has-feedback">
                    <label for="passwordConfirmation">Password Confirmation :</label>
                    <input style="padding: 30px 20px;" type="password" class="form-control bg-light border-0" id="passwordConfirmation" name="password_confirmation" [(ngModel)]="user.password_confirmation" placeholder="Confirm password" />
                </div>

                <div class="form-group has-feedback">
                    <label for="image">Profile Picture :</label>
                    <input style="padding: 30px 20px;" type="file" class="form-control bg-light border-0" id="image" (change)="onFileSelected($event)"/>
                </div>

                <div class="form-group text-center" style="margin-top: 40px;">
                    <button class="btn btn-primary px-5" type="submit" style="height: 50px;" [disabled]="updateForm.invalid" title="Update Profile">UPDATE PROFILE</button>
                </div>
            </form>
        </div>
    </div>
</div>
