<div class="login-body">
    <div class="login-box">
        <div class="login-logo">
            <a><b>HR</b>Project Workflow</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Reset your password to start your session</p>
            <form #updatePasswordForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group has-feedback" 
                    [ngClass]="{
                        'has-warning': passwordCtrl.touched && !passwordCtrl.value,
                        'has-error': passwordCtrl.touched && passwordCtrl.invalid && passwordCtrl.errors?.['email'],
                        'has-success': passwordCtrl.touched && passwordCtrl.valid
                    }">
                    <!-- Warning: field touched but not filled -->
                    <label *ngIf="passwordCtrl.touched && !passwordCtrl.value" class="control-label text-warning" for="passwordCtrl">
                        <i class="fa fa-bell-o"></i>
                        Password is missing
                    </label>

                    <!-- Error: touched and invalid (e.g., too short) -->
                    <label *ngIf="passwordCtrl.touched && passwordCtrl.invalid && passwordCtrl.value" class="control-label text-danger" for="passwordCtrl">
                        <i class="fa fa-times-circle-o"></i>
                        {{ passwordCtrl.errors?.['minlength'] ? 'Password must be at least 6 characters' : 'Password is required' }}
                    </label>
                    <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="user.password" #passwordCtrl="ngModel" required minlength="6"/>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback" 
                    [ngClass]="{
                        'has-error': passwordConfirmationCtrl.touched && user.password !== user.password_confirmation,
                        'has-success': passwordConfirmationCtrl.touched && user.password_confirmation && user.password === user.password_confirmation
                    }">
                    <!-- Error: Passwords do not match -->
                    <label *ngIf="passwordConfirmationCtrl.touched && user.password_confirmation && user.password !== user.password_confirmation"
                        class="control-label text-danger" for="passwordConfirmationCtrl">
                        <i class="fa fa-times-circle-o"></i>
                        Passwords do not match
                    </label>
                    <input type="password" class="form-control" placeholder="Retype password" name="password_confirmation" [(ngModel)]="user.password_confirmation" #passwordConfirmationCtrl="ngModel" required/>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
              
                <div class="row">
                    <div class="col-xs-6" style="margin-left:174px;">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="updatePasswordForm.invalid" title="Update Password">Update Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

