<div class="row">
    <div class="col-md-12">
        <div class="box box-warning">
            <div style="background-color:#fff;">
                <br>
                <input style="margin-left:30px;width:900px;" type="text" class="form-control" id="searchInput" placeholder="Search&hellip;" [(ngModel)]="searchText">
                <button [routerLink]="['/back/offers/add-offer']" style="margin-left:1070px;margin-top:-34px;width:135px;" class="btn btn-block btn-primary" title="Add Job Offer">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp;Add Job Offer
                </button>
                <div style="margin-top:-55px;margin-left:960px;" class="btn-group">
                    <button type="button" id="actionBtn" class="btn btn-info">{{ actionText }}</button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a (click)="setActionText('Sort By')">Default</a></li>
                        <li class="divider"></li>
                        <li><a (click)="setActionText('Title')">Title</a></li>
                        <li><a (click)="setActionText('Skills')">Skills</a></li>
                        <li><a (click)="setActionText('Deadline')">Deadline</a></li>
                        <li><a (click)="setActionText('Status')">Status</a></li>
                    </ul>
                </div>
                <br><br>
                <table class="table" *ngIf="offers.length > 0; else noOffers">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Department</th>
                            <th>Skills</th>
                            <th>Experience</th>
                            <th>Deadline</th>
                            <th>Status</th>
                            <th>Created By</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let offer of offers | filter:searchText">
                            <td>{{ offer.title }}</td>
                            <td>{{ offer.department }}</td>
                            <td>{{ offer.skills_required }}</td>
                            <td [ngSwitch]="offer.experience_level">
                                <span *ngSwitchCase="'Entry-level'" class="label label-primary">Entry-level</span>
                                <span *ngSwitchCase="'Junior'" class="label label-success">Junior</span>
                                <span *ngSwitchCase="'Mid-level'" class="label label-warning">Mid-level</span>
                                <span *ngSwitchCase="'Senior'" class="label label-danger">Senior</span>
                                <span *ngSwitchDefault class="label label-default">UNKNOWN</span>
                            </td>
                            <td>{{ offer.deadline }}</td>
                            <td [ngSwitch]="offer.status">
                                <span *ngSwitchCase="'available'" class="label label-success">Available</span>
                                <span *ngSwitchCase="'removed'" class="label label-danger">Removed</span>
                                <span *ngSwitchDefault class="label label-default">UNKNOWN</span>
                            </td>
                            <td><span class="label label-default">{{ offer.created_by_name }}</span></td>
                            <td>
                                <button style="width:30px;" class="btn btn-block btn-info btn-sm" [routerLink]="['/back/offers/show', offer.id]" title="Show Offer's Details"><i class="fa fa-ellipsis-v"></i></button>
                                &nbsp;
                                <button style="margin-top:-50px;margin-left:35px;width:30px;" class="btn btn-block btn-success btn-sm" [routerLink]="['/back/offers/update-offer', offer.id]" title="Update Offer"><i class="fa fa-edit"></i></button>
                                &nbsp;
                                <button style="margin-top:-50px;margin-left:70px;width:30px;" class="btn btn-block btn-danger btn-sm" (click)="deleteOffer(offer.id)" title="Delete Offer"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #noOffers>
                    <p style="margin-left:20px;" class="text-muted">No job offers to apply.</p>
                    <br>
                </ng-template>
            </div>    
        </div>
    </div>
</div>
        