.user-details {
  background-color: #fff;
  border-radius: 10px;
  font-size: 15px;
}

.card-title {
  font-weight: bold;
}

.badge {
  font-size: 14px;
  padding: 0.5em 0.75em;
}

.mt-50 {
  margin-top: 50px;
}