<div class="user-details card shadow-sm border-0 p-4">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="card-body">
                    <div class="row mb-3" *ngIf="user">
                        <!-- Left Side: Connection & Active -->
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-xs-6">
                                    <strong>Name:</strong>
                                    <p class="text-muted">{{ user.name }}</p>
                                </div>
                                <div class="col-xs-6">
                                    <strong>Email:</strong>
                                    <p class="text-muted">{{ user.email }}</p>
                                </div>
                                <div class="col-xs-6">
                                    <strong>Created At:</strong>
                                    <p class="text-muted">{{ user.created_at | date: 'yyyy-MM-dd HH:mm' }}</p>
                                </div>
                                <div class="col-xs-6">
                                    <strong>Date Of Birth</strong>
                                    <p class="text-muted">{{ user.birth_date ? (user.birth_date | date: 'yyyy-MM-dd') : 'Not Specified' }}</p>
                                </div>
                                <div class="col-xs-6">
                                    <strong>Nationality</strong>
                                    <p class="text-muted">{{ user.nationality || 'Not specified' }}</p>
                                </div>
                                <div class="col-xs-6">
                                    <strong>Role:</strong>
                                    <p>
                                        <span class="label" [ngClass]="{
                                            'label-primary': user.role === 'admin',
                                            'label-danger': user.role === 'rh',
                                            'label-warning text-dark': user.role === 'candidate',
                                            'label-secondary': user.role !== 'admin' && user.role !== 'rh' && user.role !== 'candidate'
                                        }">
                                        {{ user.role?.toUpperCase() || 'UNKNOWN' }}
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-6">
                                    <strong>Connections Number:</strong>
                                    <p>
                                        <span class="label label-default">{{ user.nbCnx }}</span>
                                    </p>
                                </div>
                                <div class="col-xs-6">
                                    <strong>Active?</strong>
                                    <p>
                                        <span class="label" [ngClass]="user.active ? 'label-success' : 'label-danger'">
                                            {{ user.active ? 'YES' : 'NO' }}
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-6">
                                    <strong>Gender</strong>
                                    <p>
                                        <span class="label"
                                            [ngClass]="{
                                                'label-danger': user.gender === 'Female',
                                                'label-primary': user.gender === 'Male',
                                                'label-default': user.gender !== 'Male' && user.gender !== 'Female'
                                            }">
                                        {{ user.gender || 'Not specified' }}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Right Side: Image -->
                        <div class="col-md-4 text-right">
                            <img *ngIf="user.image" [src]="user.image" alt="User Image" class="img-thumbnail" style="min-width: 200px;"/>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between mt-50">
                        <button class="btn btn-sm" [ngClass]="user.active ? 'btn-danger' : 'btn-success'" (click)="toggleActive(user.id)" [disabled]="user.role === 'admin'" [title]="user.active ? 'Ban User' : 'Unban User'">
                            <i class="fa" [ngClass]="user.active ? 'fa-ban' : 'fa-check'"></i>
                            {{ user.active ? 'Ban' : 'Unban' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>