<div class="row">
    <div class="col-md-12">
        <div class="box box-warning">
            <div style="background-color:#fff;">
                <br>
                <input style="margin-left:30px;width:900px;" type="text" class="form-control" id="searchInput" placeholder="Search&hellip;" [(ngModel)]="searchText">
                <button [routerLink]="['/back/applications/add-application']" style="margin-left:1070px;margin-top:-34px;width:135px;" class="btn btn-block btn-primary" title="Add Application">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp;Add Application
                </button>
                <div style="margin-top:-55px;margin-left:960px;" class="btn-group">
                    <button type="button" id="actionBtn" class="btn btn-info">{{ actionText }}</button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a (click)="setActionText('Sort By')">Default</a></li>
                        <li class="divider"></li>
                        <li><a (click)="setActionText('Status')">Status</a></li>
                    </ul>
                </div>
                <br><br>
                <table class="table" *ngIf="applications.length > 0; else noApplications">
                    <thead>
                        <tr>
                            <th>Job Offer</th>
                            <th>Candidate</th>
                            <th>Cv File</th>
                            <th>Status</th>
                            <th>Applied At</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let application of applications | filter:searchText">
                            <td>{{ application.job_offer.title }}</td>
                            <td>
                                <span class="label label-default">{{ application.candidate.name }}</span>
                            </td>
                            <td>
                                <button class="btn btn-block btn-primary btn-sm" style="width:30px;" title="Download CV" (click)="downloadCv(application.id,application.candidate.name)">
                                    <i class="fa fa-download"></i>
                                </button>
                            </td>
                            <td [ngSwitch]="application.status">
                                <span *ngSwitchCase="'Shortlisted'" class="label label-info">Shortlisted</span>
                                <span *ngSwitchCase="'Accepted'" class="label label-success">Accepted</span>
                                <span *ngSwitchCase="'Pending'" class="label label-warning">Pending</span>
                                <span *ngSwitchCase="'Rejected'" class="label label-danger">Rejected</span>
                                <span *ngSwitchCase="'Withdrawn'" class="label label-default">Withdrawn</span>
                                <span *ngSwitchDefault class="label label-default">UNKNOWN</span>
                            </td>
                            <td>{{ application.applied_at | date: 'yyyy-MM-dd HH:mm' }}</td>
                            <td>
                                <button style="width:30px;" class="btn btn-block btn-info btn-sm" [routerLink]="['/back/applications/show', application.id]" title="Show Application's Details"><i class="fa fa-ellipsis-v"></i></button>
                                &nbsp;
                                <button style="margin-top:-50px;margin-left:35px;width:30px;" class="btn btn-block btn-success btn-sm" [routerLink]="['/back/applications/update-application', application.id]" title="Update Application"><i class="fa fa-edit"></i></button>
                                &nbsp;
                                <button style="margin-top:-50px;margin-left:70px;width:30px;" class="btn btn-block btn-danger btn-sm" (click)="deleteApplication(application.id)" title="Delete Application"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #noApplications>
                    <p style="margin-left:20px;" class="text-muted">No applications for any job offer.</p>
                    <br>
                </ng-template>
            </div>    
        </div>
    </div>
</div>