<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <!-- Show alert before form is submitted -->
            <div class="box-body" *ngIf="!showAlert">
                <div class="alert alert-info alert-dismissable">
                    <h4><i class="icon fa fa-info"></i> Creating a new account should be treated as confidential !</h4>
                </div>
            </div>
            <!-- Show alert when form is submitted successfully -->
            <div class="box-body" *ngIf="showAlert && typeAlert=='success'">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-check"></i> Account Created Successfully!</h4>
                    Account's Default Credentials :<br>
                    Email : <strong>{{ email }}</strong><br>
                    Password : <strong>{{ password }}</strong>
                </div>
            </div>
            <!-- Show alert when there is an error -->
            <div class="box-body" *ngIf="showAlert && typeAlert=='danger'">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Account Creation Failed!</h4>
                    {{ error }}
                </div>
            </div>
            <form style="margin-top:30px;margin-left:100px;width:1050px;" #registerForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group has-feedback" 
                    [ngClass]="{
                        'has-warning': nameCtrl.touched && !nameCtrl.value,
                        'has-error': nameCtrl.touched && nameCtrl.invalid && nameCtrl.errors?.['name'],
                        'has-success': nameCtrl.touched && nameCtrl.valid
                    }">
                    <!-- Display warning label when input is touched and not completed -->
                    <label *ngIf="nameCtrl.touched && !nameCtrl.value" class="control-label" for="nameCtrl">
                        <i class="fa fa-bell-o"></i>
                        Full Name is missing
                    </label>
                    
                    <!-- Display error label when input is invalid and touched and there is an error -->
                    <label *ngIf="nameCtrl.touched && nameCtrl.invalid && nameCtrl.errors?.['pattern']" class="control-label text-danger" for="nameCtrl">
                        <i class="fa fa-times-circle-o"></i> 
                        Name should not contain special characters or numbers
                    </label>
                    <input type="text" class="form-control" placeholder="Full name" name="name" [(ngModel)]="name" #nameCtrl="ngModel" required pattern="^[a-zA-Z\s]+$"/>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback" 
                    [ngClass]="{
                        'has-warning': emailCtrl.touched && !emailCtrl.value,
                        'has-error': emailCtrl.touched && emailCtrl.invalid && emailCtrl.errors?.['email'],
                        'has-success': emailCtrl.touched && emailCtrl.valid
                    }">
                    <!-- Display warning label when input is touched and not completed -->
                    <label *ngIf="emailCtrl.touched && !emailCtrl.value" class="control-label" for="emailCtrl">
                        <i class="fa fa-bell-o"></i>
                        Email is missing
                    </label>
                    
                    <!-- Display error label when input is invalid and touched and there is an error -->
                    <label *ngIf="emailCtrl.touched && emailCtrl.invalid && emailCtrl.errors?.['email']" class="control-label text-danger" for="emailCtrl">
                        <i class="fa fa-times-circle-o"></i> 
                        Invalid Email Format
                    </label>
                    <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="email" #emailCtrl="ngModel" required email />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback"
                    [ngClass]="{
                        'has-warning': roleCtrl.touched && roleCtrl.invalid && roleCtrl.errors?.['required'],
                        'has-success': roleCtrl.touched && roleCtrl.valid
                    }">
                    
                    <!-- Warning: Touched but not selected -->
                    <label *ngIf="roleCtrl.touched && !role" class="control-label text-warning" for="roleCtrl">
                        <i class="fa fa-bell-o"></i>
                        Please select a role
                    </label>

                    <select class="form-control" name="role" [(ngModel)]="role" #roleCtrl="ngModel" required>
                        <option value="" disabled>Select a role</option>
                        <option value="admin">Admin</option>
                        <option value="rh">HR</option>
                        <option value="candidate">Candidate</option>
                    </select>

                    <span class="glyphicon glyphicon-briefcase form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label" for="generatedPassword">
                        Generated Default Password
                    </label>
                    <input style="width:1005px;" type="text" class="form-control" [value]="password" readonly>
                    <span class="input-group-btn">
                        <button style="margin-top:-34px;margin-left:1010px;" class="btn btn-secondary" type="button" (click)="copyPassword()" title="Copy Password">
                            <i class="fa fa-copy"></i>
                        </button>
                    </span>
                </div>
                <div class="box-footer" align="center">
                    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid" title="Create Account">Create Account</button>
                    &nbsp;
                    <button type="submit" class="btn btn-info" [routerLink]="['/back/users']" title="Users List">Users List</button>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>