<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <th>Job Offer</th>
                            <td>
                                <strong>{{ application.job_offer.title }}</strong><br>
                                <small class="text-muted">
                                    <i class="fa fa-map-marker text-info"></i> {{ application.job_offer.location }}
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <th>Candidate</th>
                            <td>
                                <i class="fa fa-user text-primary"></i>&nbsp; <b>{{ application.candidate.name }}</b>
                            </td>
                        </tr>
                        <tr>
                            <th>Cv</th>
                            <td>
                                <button class="btn btn-sm btn-default" title="Download CV" (click)="downloadCv(application.id, application.candidate.name)">
                                    <i class="fa fa-download"></i>
                                </button>
                            </td>
                            
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td [ngSwitch]="application.status">
                                <span *ngSwitchCase="'Interviewed'" class="label label-info">Interviewed</span>
                                <span *ngSwitchCase="'Accepted'" class="label label-success">Accepted</span>
                                <span *ngSwitchCase="'Pending'" class="label label-warning">Pending</span>
                                <span *ngSwitchCase="'Rejected'" class="label label-danger">Rejected</span>
                                <span *ngSwitchCase="'Withdrawn'" class="label label-default">Withdrawn</span>
                                <span *ngSwitchDefault class="label label-default">UNKNOWN</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Applied At</th>
                            <td>
                                {{ application.applied_at | date: 'yyyy-MM-dd HH:mm' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>    
        </div>
    </div>
</div>
        