<!-- FrontOffice Dependencies -->
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="../../../../../public/FrontOffice/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="../../../../../public/FrontOffice/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


<div class="row justify-content-center bg-image mx-0 mb-5">
    <div class="col-lg-6 py-5">
        <div class="bg-white p-5 my-5">
            <h1 class="text-center mb-4"><b>APPLY FOR THIS JOB OFFER :</b></h1>
            <br>
            <!-- Show alert when form is submitted successfully -->
            <div class="box-body" *ngIf="showAlert && typeAlert=='success'">
                <div class="alert alert-success alert-dismissable">
                    <h4><i class="icon fa fa-check"></i> Application Added Successfully!</h4>
                    {{ error }}
                </div>
            </div>
            <!-- Show alert when there is an error -->
            <div class="box-body" *ngIf="showAlert && typeAlert=='danger'">
                <div class="alert alert-danger alert-dismissable">
                    <h4><i class="icon fa fa-ban"></i> Application Creation Failed!</h4>
                    {{ error }}
                </div>
            </div>
            <br>
            <form (ngSubmit)="onSubmit()" class="custom-form" #addForm="ngForm" enctype="multipart/form-data">

                <div class="form-field">
                    <label for="cv_file">CV Import</label>
                    <input type="file" id="cv_file" name="cv_file" (change)="onFileChange($event)" required placeholder="CV File">
                </div>

                <div class="form-actions">
                    <button type="submit" [disabled]="addForm.invalid || !selectedFile" title="Add Application">Add Application</button>
                </div>
            </form>
        </div>
    </div>
</div>
