<div class="row">
    <div class="col-md-12">
        <div class="box box-warning">
            <div style="background-color:#fff;">
                <br>
                <input style="margin-left:30px;width:900px;" type="text" class="form-control" id="searchInput" placeholder="Search&hellip;" [(ngModel)]="searchText">
                <button [routerLink]="['/back/interviews/add-interview']" style="margin-left:1070px;margin-top:-34px;width:135px;" class="btn btn-block btn-primary" title="Add Interview">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp;Add Interview
                </button>
                <div style="margin-top:-55px;margin-left:960px;" class="btn-group">
                    <button type="button" id="actionBtn" class="btn btn-info">{{ actionText }}</button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a (click)="setActionText('Sort By')">Default</a></li>
                        <li class="divider"></li>
                        <li><a (click)="setActionText('Status')">Status</a></li>
                    </ul>
                </div>
                <br><br>
                <table class="table" *ngIf="interviews.length > 0; else noInterviews">
                    <thead>
                        <tr>
                            <th>Application</th>
                            <th>Date & Time</th>
                            <th>Interviewer</th>
                            <th>Link</th>
                            <th>Status</th>
                            <th>Result</th>
                            <th>Duration</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let interview of interviews | filter:searchText">
                            <td>
                                <span class="label label-primary">
                                    {{ interview.application.job_offer.title }} - {{ interview.application.candidate.name }}
                                </span>
                            </td>
                            <td>{{ interview.interview_date | date: 'yyyy-MM-dd HH:mm' : 'UTC' }}</td>
                            <td>
                                <span class="label label-default">{{ interview.interviewer.name }}</span>
                            </td>
                            <td>
                                <a href="{{ interview.link }}" class="btn btn-primary btn-sm" title="Open The Interview's Reunion">
                                    <i class="fa fa-link"></i>
                                </a>
                            </td>
                            <td [ngSwitch]="interview.status">
                                <span *ngSwitchCase="'Finished'" class="label label-success">Finished</span>
                                <span *ngSwitchCase="'Scheduled'" class="label label-warning">Scheduled</span>
                                <span *ngSwitchCase="'Canceled'" class="label label-danger">Canceled</span>
                                <span *ngSwitchDefault class="label label-default">UNKNOWN</span>
                            </td>
                            <td [ngSwitch]="interview.result">
                                <span *ngSwitchCase="'Accepted'" class="label label-success">Accepted</span>
                                <span *ngSwitchCase="'Rejected'" class="label label-danger">Rejected</span>
                                <span *ngSwitchCase="'Pending'" class="label label-warning">Pending</span>
                                <span *ngSwitchDefault class="label label-default">UNKNOWN</span>
                            </td>
                            <td>{{ interview.duration }} min</td>
                            <td>
                                <button style="width:30px;" class="btn btn-block btn-info btn-sm" [routerLink]="['/back/interviews/show', interview.id]" title="Show Interview's Details"><i class="fa fa-ellipsis-v"></i></button>
                                &nbsp;
                                <button style="margin-top:-50px;margin-left:35px;width:30px;" class="btn btn-block btn-success btn-sm" [routerLink]="['/back/interviews/update-interview', interview.id]" title="Update Interview"><i class="fa fa-edit"></i></button>
                                &nbsp;
                                <button style="margin-top:-50px;margin-left:70px;width:30px;" class="btn btn-block btn-danger btn-sm" (click)="deleteInterview(interview.id)" title="Delete Interview"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-template #noInterviews>
                    <p style="margin-left:20px;" class="text-muted">No Interview for any application yet.</p>
                    <br>
                </ng-template>
            </div>    
        </div>
    </div>
</div>