<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <!-- Show alert when form is submitted successfully -->
            <div class="box-body" *ngIf="showAlert && typeAlert=='success'">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-check"></i> Article Added Successfully!</h4>
                    {{ error }}
                </div>
            </div>
            <!-- Show alert when there is an error -->
            <div class="box-body" *ngIf="showAlert && typeAlert=='danger'">
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Article Creation Failed!</h4>
                    {{ error }}
                </div>
            </div>
            <form style="margin-top:30px;margin-left:100px;width:1050px;" (ngSubmit)="onSubmit()" #addForm="ngForm">
                <div class="box-body">
                    <!-- Title Field -->
                    <div class="form-group has-feedback"
                        [ngClass]="{
                            'has-warning': titleCtrl.touched && !titleCtrl.value,
                            'has-success': titleCtrl.touched && titleCtrl.valid
                        }">
                        <label *ngIf="titleCtrl.touched && !titleCtrl.value" class="control-label" for="title">
                        <i class="fa fa-bell-o"></i>
                            Title is required
                        </label>
                        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="article.title" #titleCtrl="ngModel" required placeholder="Title"/>
                        <span class="glyphicon glyphicon-briefcase form-control-feedback"></span>
                    </div>

                    <!-- Content Field -->
                    <div class="form-group has-feedback"
                        [ngClass]="{
                            'has-warning': contentCtrl.touched && !contentCtrl.value,
                            'has-success': contentCtrl.touched && contentCtrl.valid
                        }">
                        <label *ngIf="contentCtrl.touched && !contentCtrl.value" class="control-label" for="content">
                        <i class="fa fa-bell-o"></i>
                            Content is required
                        </label>
                        <textarea type="text" class="form-control" id="content" name="content" [(ngModel)]="article.content" #contentCtrl="ngModel" required placeholder="Content"></textarea>
                        <span class="glyphicon glyphicon-briefcase form-control-feedback"></span>
                    </div>

                    <!-- Image Required Field -->
                    <div class="form-group has-feedback">
                        <input type="file" class="form-control" id="image" name="image" (change)="onFileSelected($event)" required placeholder="Image">
                        <span class="glyphicon glyphicon-file form-control-feedback"></span>
                    </div>
                </div>

                <div class="box-footer" align="center">
                    <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid" title="Add Article">Add Article</button>
                    &nbsp;
                    <button type="submit" class="btn btn-info" [routerLink]="['/back/articles']" title="Articles List">Articles List</button>
                </div>
            </form>
            <br><br>
        </div>
    </div>
</div>