<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div style="background-color:#fff;">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Application</th>
                            <td>
                                <span class="label label-primary">
                                    {{ interview.application.job_offer.title }} - {{ interview.application.candidate.name }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>Date & Time</th>
                            <td>{{ interview.interview_date | date: 'yyyy-MM-dd HH:mm' : 'UTC' }}</td>
                        </tr>
                        <tr>
                            <th>Interviewer</th>
                            <td>
                                <span class="label label-default">{{ interview.interviewer.name }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Link</th>
                            <td>
                                <a href="{{ interview.link }}" class="btn btn-primary btn-sm" title="Open The Interview's Reunion">
                                    <i class="fa fa-link"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td [ngSwitch]="interview.status">
                                <span *ngSwitchCase="'Finished'" class="label label-success">Finished</span>
                                <span *ngSwitchCase="'Scheduled'" class="label label-warning">Scheduled</span>
                                <span *ngSwitchCase="'Canceled'" class="label label-danger">Canceled</span>
                                <span *ngSwitchDefault class="label label-default">UNKNOWN</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Result</th>
                            <td [ngSwitch]="interview.result">
                                <span *ngSwitchCase="'Accepted'" class="label label-success">Accepted</span>
                                <span *ngSwitchCase="'Rejected'" class="label label-danger">Rejected</span>
                                <span *ngSwitchCase="'Pending'" class="label label-warning">Pending</span>
                                <span *ngSwitchDefault class="label label-default">UNKNOWN</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Duration</th>
                            <td>{{ interview.duration }} min</td>
                        </tr>
                        <tr>
                            <th>Notes</th>
                            <td>{{ interview.notes }}</td>
                        </tr>
                        <tr>
                            <th>Final Decision</th>
                            <td>
                                <button style="width:30px;" class="btn btn-block btn-success btn-sm" [disabled]="interview.status=='Finished' && interview.result=='Accepted'" (click)="onValidateInterviewAccept(interview.id)" title="Accept Interview"><i class="fa fa-check"></i></button>
                                &nbsp;
                                <button style="margin-left:40px;margin-top:-50px;width:30px;" class="btn btn-block btn-danger btn-sm" [disabled]="interview.status=='Finished' && interview.result=='Rejected'" (click)="onValidateInterviewReject(interview.id)" title="Reject Interview"><i class="fa fa-ban"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Hr/Admin Add Comments or Notes Section -->
                <div style="padding: 25px;">
                    <h4>
                        <i class="fa fa-info"></i> HR and Admins can collaborate to facilitate the final decision.
                    </h4>
                    <form style="margin-top:30px;margin-left:100px;width:950px;" (ngSubmit)="submitFeedback()" #addForm="ngForm">
                        <div class="form-group">
                            <textarea class="form-control" id="feedback" [(ngModel)]="feedback" name="feedback" rows="3" placeholder="Feedback" required></textarea>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="rating" [(ngModel)]="rating" name="rating" min="1" max="5" required>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary" title="Add Comment">Add Comment</button>
                        </div>
                    </form>
                </div>

                <!-- Comments Section -->
                <div style="padding: 20px;">
                    <h4>Notes or Comments for this Interview</h4>
                    <table class="table table-bordered" *ngIf="interviewfeedbacks.length > 0; else noInterviewFeedbacks">
                        <thead>
                            <tr>
                                <th>Hr/Admin's Name</th>
                                <th>Rating</th>
                                <th>Comment Text</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let feedback of interviewfeedbacks">
                                <td>
                                    <span class="label label-default">{{ feedback.username }}</span>
                                </td>
                                <td>{{ feedback.rating }} <i class="fa fa-star"></i></td>
                                <td>{{ feedback.feedback }} </td>
                                <td>
                                    <button class="btn btn-danger btn-sm" (click)="deleteFeedback(feedback.id)" title="Delete your comment" [disabled]="feedback.user_id!=userId">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
        
                    <ng-template #noInterviewFeedbacks>
                        <p class="text-muted">No Feedbacks for this interview yet.</p>
                    </ng-template>
                </div>


                <div style="background-color:#fff;" align="center">
                    <br>
                    <button style="width:100px;" class="btn btn-block btn-info btn-sm">
                        <a style="color:#fff;" [routerLink]="['/back/interviews']" title="Back To Interviews List">Back To List</a>
                    </button>
                    <br>
                </div>
            </div>    
        </div>
    </div>
</div>
        