<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-body">
                <!-- Interview Details Table -->
                <table class="table table-striped table-hover">
                    <tbody>
                        <!-- Application Info -->
                        <tr>
                            <th>Application</th>
                            <td>
                                <strong>{{ interview.application.job_offer.title }}</strong><br />
                                <small class="text-muted">
                                    <i class="fa fa-map-marker text-info"></i> {{ interview.application.job_offer.location }} |
                                    <i class="fa fa-user text-primary"></i> {{ interview.application.candidate.name }}
                                </small>
                            </td>
                        </tr>
                        <tr>
                            <th>Date & Time</th>
                            <td>{{ interview.interview_date | date: 'yyyy-MM-dd HH:mm' : 'UTC' }}</td>
                        </tr>
                        <tr>
                            <th>Interviewer</th>
                            <td>
                                <i class="fa fa-user text-primary"></i>&nbsp; <strong>{{ interview.interviewer.name }}</strong>
                            </td>
                        </tr>
                        <tr>
                            <th>Link</th>
                            <td>
                                <a [href]="interview.link" class="btn btn-sm btn-default" title="Open Interview Link" target="_blank">
                                    <i class="fa fa-link"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td [ngSwitch]="interview.status">
                                <span *ngSwitchCase="'Finished'" class="label label-success">Finished</span>
                                <span *ngSwitchCase="'Scheduled'" class="label label-warning">Scheduled</span>
                                <span *ngSwitchCase="'Canceled'" class="label label-danger">Canceled</span>
                                <span *ngSwitchDefault class="label label-default">UNKNOWN</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Result</th>
                            <td [ngSwitch]="interview.result">
                                <span *ngSwitchCase="'Accepted'" class="label label-success">Accepted</span>
                                <span *ngSwitchCase="'Rejected'" class="label label-danger">Rejected</span>
                                <span *ngSwitchCase="'Pending'" class="label label-warning">Pending</span>
                                <span *ngSwitchDefault class="label label-default">UNKNOWN</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Duration</th>
                            <td>{{ interview.duration }}<small><b>min</b></small></td>
                        </tr>
                        <tr>
                            <th>Notes</th>
                            <td>{{ interview.notes }}</td>
                        </tr>
                        <tr>
                            <th>Final Decision</th>
                            <td>
                                <div style="display: flex; gap: 10px; align-items: center;">
                                    <button class="btn btn-success btn-sm"
                                        [disabled]="interview.status == 'Finished' && interview.result == 'Accepted'"
                                        (click)="onValidateInterviewAccept(interview.id)" title="Accept Candidate">
                                        <i class="fa fa-check"></i> Accept
                                    </button>

                                    <button class="btn btn-danger btn-sm"
                                        [disabled]="interview.status == 'Finished' && interview.result == 'Rejected'"
                                        (click)="onValidateInterviewReject(interview.id)" title="Reject Candidate">
                                        <i class="fa fa-ban"></i> Reject
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <hr style="border-top: 1px solid #ccc; margin: 30px 0;" />

                <!-- HR Feedback Form -->
                <div style="padding: 25px;">
                    <h4>
                        <i class="fa fa-info"></i> HR can collaborate to facilitate the final decision.
                    </h4>
                    <br>
                    <form (ngSubmit)="submitFeedback()" #addForm="ngForm">
                        <div class="form-group has-feedback"
                            [ngClass]="{
                                'has-warning': feedbackRef.touched && !feedbackRef.value,
                                'has-success': feedbackRef.touched && feedbackRef.valid
                            }">
                            <label *ngIf="feedbackRef.touched && !feedbackRef.value" class="control-label" for="rating">
                                <i class="fa fa-bell-o"></i>
                                You should give a feedback!
                            </label>

                            <textarea class="form-control" id="feedback" [(ngModel)]="feedback" #feedbackRef="ngModel"
                                name="feedback" rows="4" placeholder="Feedback" required></textarea>
                        </div>

                        <div class="form-group has-feedback"
                            [ngClass]="{
                                'has-warning': ratingRef.touched && ratingRef.invalid,
                                'has-success': ratingRef.touched && ratingRef.valid
                            }">
                            <label *ngIf="ratingRef.touched && ratingRef.invalid" class="control-label" for="rating">
                                <i class="fa fa-bell-o"></i>
                                Rating must be between 1 and 5.
                            </label>

                            <input type="number" class="form-control" id="rating" [(ngModel)]="rating" name="rating"
                                #ratingRef="ngModel" min="1" max="5" placeholder="Rating should be between 1 and 5" required>
                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid"
                                title="{{ isEditing ? 'Update' : 'Add' }} Comment">
                                {{ isEditing ? 'Update' : 'Add' }} Comment
                            </button>
                        </div>
                    </form>
                </div>

                <!-- Feedback List Section -->
                <div style="padding: 20px;">
                    <h4>Notes or Comments for this Interview</h4>
                    <table class="table table-bordered" *ngIf="interviewfeedbacks.length > 0; else noInterviewFeedbacks">
                        <thead>
                            <tr>
                                <th>Hr/Admin's Name</th>
                                <th>Rating</th>
                                <th>Comment Text</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let feedback of interviewfeedbacks">
                                <td>
                                    <span class="label label-default">{{ feedback.username }}</span>
                                </td>
                                <td>{{ feedback.rating }} <i class="fa fa-star"></i></td>
                                <td>{{ feedback.feedback }}</td>
                                <td>
                                    <button class="btn btn-danger btn-sm" (click)="deleteFeedback(feedback.id)"
                                        title="Delete your feedback" [disabled]="feedback.user_id!=userId">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    &nbsp;
                                    <button class="btn btn-success btn-sm" (click)="editFeedback(feedback)"
                                        title="Update your feedback" [disabled]="feedback.user_id!=userId">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <ng-template #noInterviewFeedbacks>
                        <p class="text-muted">No Feedbacks for this interview yet.</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
